body, html {
	margin: 0;
	padding: 0;
	overflow: auto;
	height: 100%;
}

body {
	background-image: url("../resources/background.jpg");
	background-color: #4CAFFF;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
}

.textdiv {
	background-color: rgba(0, 0, 0, 0.9);
	padding: 40px;
	border-radius: 3px;
	text-align: left;
	font-family: "Roboto Slab", sans-serif;
	max-width: min(80%, 800px);
	margin: 30px auto;
	font-size: 18px;
	color: #ffffff;
}

h1.textheader {
	font-size: 24px;
	margin-top: -10px;
	margin-bottom: 10px;
}

#header {
	margin-bottom: 50px;
	text-align: center;
	margin-top: 0px;
}

table {
	background-color: rgba(0, 0, 0, 0.9);
	padding: 0px;
	z-index: 2;
	text-align: center;
	font-family: "Roboto Slab", sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	position: fixed;
	top: 0px;
	left: 0px;
}

.container {
	overflow-y: auto;
	padding: 20px;
	margin-top: 80px;
}

td {
	padding: 20px;
	border: 1px solid black;
	text-align: center;
	transition: background-color 300ms;
}

td:hover {
  background-color: #a6c1ed;
  cursor: pointer;
}

.expandable_btn:hover {
	cursor: pointer;
	color: #5f7795;
	text-shadow: 1px 1px #20677b;
}

.expandable_btn {
	color: #a1cbff;
	transition: color 300ms;
	font-size: 18px;
	text-shadow: 1px 1px #34a8c8;
}

.expandable_plus:hover {
	cursor: pointer;
	color: #5f7795;
	text-shadow: 1px 1px #20677b;
}

.expandable_plus {
	color: #a1cbff;
	transition: color 300ms;
	font-size: 18px;
	text-shadow: 1px 1px #34a8c8;
}

.expandable_div.hidden {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 1s;
}

.expandable_div.shown {
	max-height: 3000px;
	overflow: hidden;
	transition: max-height 1s;
}

a {
	color: #fff700;
	text-decoration: none;
	transition: color 300ms;
}

a:hover {
	color: #d8ab18;
}

img.supporting {
	float: right;
	max-width: 40%;
	width: auto;
	height: auto;
	margin: 40px 30px;
	transition: opacity 250ms;
}

img.supporting2 {
	float: right;
	max-width: 40%;
	width: auto;
	height: auto;
	margin: 40px 30px;
	transition: opacity 250ms;
}

img.supporting:hover {
	opacity: 50%;
	cursor: pointer;
}

.textdiv#contact {
	text-align: center;
}

img.contact_img {
	width: min(25%, 100px);
	height: auto;
	margin: 20px 30px;
	border: 2px solid #ffffffae;
	border-radius: 50%;
	transition: opacity 250ms;
}

img.contact_img:hover {
	opacity: 50%;
	cursor: pointer;
}

.modal {
	display: none;
	z-index: 3;
	position: fixed;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.modalImage {
	margin: auto;
	display: block;
	max-width: min(75%, 700px);
	max-height: min(75%, 700px);
	width: auto;
	height: auto;
}

#caption {
	margin: 20px auto;
	display: block;
	font-family: "Satisfy", sans-serif;
	width: 80%;
	font-size: 26px;
	max-width: 700px;
	text-align: center;
	color: #ffffff;
	padding: 10px 0;
	height: 150px;
}

.modalImage, #caption {
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 45px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focus {
	color: #aaa;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%;
	}
}